#doors{
  background-color: blue;
  margin: auto;
}

#jonadoor{
  background-color: red;
  float: left;
}

#divyadoor{
  background-color: green;
  float: right;
}

.door{
  height: 400px;
  width: 100px;
  margin-top: auto;
}
#paint1{
  height: 50px;
  width: 30px;
  left: 1000px;
  background-color: red;
}
#paint2{
  height: 60px;
  width: 30px;
  left: 1050px;
  background-color: blue;
}
#paint3{
  height: 20px;
  width: 30px;
  left: 1100px;
  background-color: black;
}

.paints{
  -webkit-transition: left 300ms ease-in-out, top 300ms ease-in-out;
  -moz-transition: left 300ms ease-in-out, top 300ms ease-in-out;
  -o-transition: left 300ms ease-in-out, top 300ms ease-in-out;
  transition: left 300ms ease-in-out, top 300ms ease-in-out;
  top: 300px;
  position: fixed;
}
.paintsmoved{
  top : 200px;
}

#jonaroomtext{
  height: 347px;
  width: 4000px;
  font-size: 50px;
  padding-left: 1000px;
}
.fall{
  margin-left: 750px;
  margin-top: 300px;
}
.fallfurther
{
  margin-left: 600px;
  margin-top: 600px;
}
#fallingobject{
  background-color: red;
    height: 20px;
    width: 20px;
    margin-left: 600px;
    margin-top: 0px;
    transition: margin-left 300ms ease-in-out, margin-top 300ms ease-in-out;
    position: fixed;
}
