
<div id="container">
  <ul id="scene" class="scene" style="background : url('../../img/space/spaceback.jpg'); height:100%; width:100%;padding:0;">

			<li class="layer" data-depth="0.40" style="height:100%; width:100%;bottom:0;position:absolute;">
        <img src="../../img/game/center.png" style="height:100%; width :100%; "/>
      </li>

  <div style = "background : url('../../img/game/outer_left.png'); background-size: contain;background-repeat: no-repeat;top: 0;height:100%; width:100%;left : 0; position:fixed"></div>
  <img src='../../img/game/outer_right.png' style = "top:0;height:100%;right : 0; position:fixed"></img>
	</ul>

</div>


<div style = 'background-color:red; height : 15px'></div>
<div id="page" style = "height : 1000px; position:relative; overflow: hidden;" >
    <div class="hero-unit" style = " height :1000px; overflow: hidden; ">

      <div id="bg1" data-0="background-position:0px 0px;" data-end="background-position:-500px -10000px;"></div>
	     <div id="bg2" data-0="background-position:0px 0px;" data-end="background-position:-200px -8000px;"></div>
	      <div id="bg3" data-0="background-position:100px 50px;" data-end="background-position:-100px -6000px;"></div>
      </div>
</div>
<div style = 'background-color:red; height : 15px'></div>
<div id="horizontal" style='display :none'>
    <div class="horizon scroll">
      <img src="../../img/horizon.png" alt="" />
    </div>
    <div class="middle scroll">
      <img src="../../img/middle.png" alt="" />
    </div>
    <div class="front scroll">
      <img src="../../img/front.png" alt="" />
    </div>
</div>
<!--
<div id="container" class="container">
  <ul id="scene" class="scene">
			<li class="layer" data-depth="1.00"><img src="../../img/layer1.png"></li>
			<li class="layer" data-depth="0.80"><img src="../../img/layer2.png"></li>
			<li class="layer" data-depth="0.60"><img src="../../img/layer3.png"></li>
			<li class="layer" data-depth="0.40"><img src="../../img/layer4.png"></li>
			<li class="layer" data-depth="0.20"><img src="../../img/layer5.png"></li>
			<li class="layer" data-depth="0.00"><img src="../../img/layer6.png"></li>
	</ul>
</div>
-->


<div id="bottom-unit">

</div>
