<nav class="navbar navbar-default " role="navigation" style="margin-bottom: 0px !important;">
    <div class="container">
        <a class="navbar-brand pull-left" href="#"><img src="img/logo-word.png" width="178px" ></a>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav pull-right hidden-xs">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#knowhow">Know how</a></li>
                <li><a href="#register">Join us</a></li>
                <li><a href="#login">Login</a></li>
            </ul>
        </div>
    </div>
</nav>
