<div style="background-color: #03574e;">
    <div class="container" style="color: #f5f5f5; padding: 10px;">
      Jona's room
    </div>
</div>
<div id="horizontal" style='display :block'>
    <div class="horizon scroll">
      <img src="../../img/horizon.png" alt="" />
    </div>
    <div class="middle scroll" id="jonaroomtext">
      <div>Jona's Room </div>
    </div>
    <div class="front scroll">
      <img src="../../img/front.png" alt="" />
    </div>
</div>
<div id="fallingobject" >

</div>
