<div style="background-color: #03574e;">
    <div class="container" style="color: #f5f5f5; padding: 10px;">
      Divya's room
    </div>
</div>
<div id="horizontal" style='display :block'>
    <div class="horizon scroll">
      <img src="../../img/scene1/layer1.jpg" alt="" />
    </div>
    <div class="middle scroll">
      Rodeo Carnival
      <img src="../../img/scene1/layer2.png" alt="" />
    </div>

    <div class="front scroll">
      <img src="../../img/scene1/layer4.png" alt="" />
    </div>
</div>
